service nagle
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec show-timezone
service timestamps log datetime msec show-timezone
service password-encryption
no service dhcp
!
hostname {{ device_name }}
!
username admin secret {{ admin_password }}
!
no ip source-route
!
no ip domain lookup
ip domain name {{ site_name }}.dev.net
!
cdp run
!
track 1 list boolean and
 object 100
 object 101
!
track 100 interface GigabitEthernet3.{{external_net_vlan}} line-protocol
!
track 101 ip route 0.0.0.0 0.0.0.0 reachability
!
ip tcp path-mtu-discovery
!
interface GigabitEthernet3
 description {{ tor_A_description }}
 no ip address
 cdp enable
 no shutdown
 !
!
interface GigabitEthernet3.{{external_net_vlan}}
 encapsulation dot1Q {{external_net_vlan}}
 ip address {{ ext_ip }} {{ ext_netmask }}
 ip nat outside
 standby version 2
 standby {{internal_net_vlan}} ip {{ ext_asr_vip }}
 standby {{internal_net_vlan}} timers 1 3
 standby {{internal_net_vlan}} priority {{ hsrp_priority }}
 standby {{internal_net_vlan}} preempt
 standby {{internal_net_vlan}} track 1 decrement 100
!
interface GigabitEthernet3.{{internal_net_vlan}}
 description inside
 encapsulation dot1Q {{internal_net_vlan}}
 ip address {{ int_ip }} 255.255.255.0
 ip nat inside
 standby version 2
 standby {{internal_net_vlan}} ip {{ int_asr_vip }}
 standby {{internal_net_vlan}} timers 1 3
 standby {{internal_net_vlan}} priority {{ hsrp_priority }}
 standby {{internal_net_vlan}} preempt
 standby {{internal_net_vlan}} track 1 decrement 100
!
ip forward-protocol nd
!
ip ftp source-interface GigabitEthernet2
no ip http server
no ip http secure-server
ip tftp source-interface GigabitEthernet2
ip route 0.0.0.0 0.0.0.0 GigabitEthernet3.{{external_net_vlan}} {{ ext_gw_ip }}
!
ip ssh source-interface GigabitEthernet2
ip ssh version 2
ip ssh authentication-retries 2
!
ip access-list standard Mgmt
 permit {{mgmt_network_cidr | ipaddr('network')}} 0.0.0.255
ip access-list standard rfc1918
 permit 10.0.0.0 0.255.255.255
 permit 172.16.0.0 0.15.255.255
 permit 192.168.0.0 0.0.255.255
ip access-list standard snmppollers
 permit {{snmp_server}}
!
logging buffered 409600
no logging console
logging monitor informational
logging source-interface GigabitEthernet2
logging host {{logging_server}}
!
snmp-server community {{ snmp_comm_string }} RO snmppollers
snmp-server trap-source GigabitEthernet2
snmp-server source-interface informs GigabitEthernet2
snmp-server enable traps memory bufferpeak
snmp-server enable traps hsrp
snmp-server enable traps cpu threshold
!
exception crashinfo maximum files 5
!
access-list 11 permit {{mgmt_network_cidr | ipaddr('network')}} 0.0.0.255