
hostname {{ hostname }}
ip domain-name virl

ip vrf Mgmt-intf
rd 100:100

crypto key generate rsa modulus 1024
int {{ mgmt_int }}
ip vrf forwarding Mgmt-intf
ip address {{ mgmt_ip }} 255.255.255.0
no shut
username cisco priv 15 password cisco
aaa new-model
aaa authentication login default local
aaa authorization exec default local
ip ssh v 2
ip route vrf Mgmt-intf 0.0.0.0 0.0.0.0 198.18.1.1
line vty 0 4
transport input ssh

do wr

