admin
config-register 0x102
conf t
username cisco
 group root-system
 secret cisco
no username root
fpd auto-upgrade
commit replace
end
exit
conf t
hostname {{ hostname }}
vrf management
exit
interface g0/0/0/0
 vrf management
 ipv4 address {{ mgmt_ip }} 255.255.255.0
 no shutdown
router static	
 vrf management
  address-family ipv4 unicast
   0.0.0.0/0 198.18.1.1 
ssh server v2
ssh server vrf management
xml agent tty
commit replace
end